apiVersion: apps/v1
kind: Deployment
metadata:
  name: express-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: express
  template:
    metadata:
      labels:
        app: express
    spec:
      containers:
        - name: express-container
          image: mydemoregistry.azurecr.io/express-demo:v1
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: express-config
